* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter';
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* Reset CSS */
p {
  margin: 0;
}

/* 계산기 전체 영역 */
.calculator {
  width: 412px;
  margin: 0 auto;
}

/* 디스플레이 영역 */
.display-group {
  background-color: #413c3c;
  border: 1px solid black;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  padding: 18px;
  border-radius: 20px 20px 0 0;
  height: 184px;
  min-height: 184px;
}

.display-group .expression {
  font-size: 30px;
  color: white;
}
.display-group .result {
  font-size: 50px;
  color: white;
}

/* 버튼 영역 */
.keypad {
  width: 100%;
}

.keypad .row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
}

.keypad .row .key {
  /* width: 103px; */
  height: 120px;
  border: 1px solid #8e8e8e;
  font-size: 50px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.keypad .row .key.wide {
  grid-column: span 2; /* 0 버튼을 가로로 길게 */
}

.key.operator {
  background: orange;
  color: white;
}

.left-round {
  border-radius: 0 0 0 20px;
}

.right-round {
  border-radius: 0 0 20px 0;
}

.key:hover {
  color: #8e8e8e;
}

.key.active {
  background-color: #8e8e8e;
  border: 1px solid #fff;
  color: #fff;
}
